parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#PDOException#'
        - '#SplObjectStorage#'
        - identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
